<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert  here</title>
<link rel="stylesheet" type="text/css" href="Design.css"></link>
</head>

<body bgcolor="black" align="center" >

<script  th:inline="javascript">
/*<![CDATA[*/
           ////////////ONLOAD FUNCTION//////////////////////////////////
window.onload = function (){
	
	var time = [[${timer}]];
	var ques=[[${ques}]];
	var option=[[${option}]];
	//alert(time);
	//alert(option);
	
	//var quiztime=document.getElementById('txtbox').value;
	//quiztimeinsec= quiztime * 60;
	quiztimeinsec= time * 60;
	countDown(quiztimeinsec,time,"status","bar",ques,option);

}
///////////////////////////////////////////////////////////////////////////////
//////////////////////////////CountDown///////////////////////////////////////
function countDown(secs,min,elem,bar,ques,option) {
	
	var element = document.getElementById(elem);
	var barV = document.getElementById(bar);
	
	
	
	barV.innerHTML=" <font face=Comic Sans MS size=5 color=cyan>Question : </font> <font face=Comic Sans MS size=11 color=white>"+ques+"</font><br></br> <font face=Comic Sans MS size=6 color=white>"+option+"</font><br></br> <meter id=meter high="+(min/2)+" low="+(min/8)+" max="+(min*60)/100+" optimum="+(min*60)/100+" value="+secs/100+"></meter>"
	
	element.innerHTML = "<font face=Comic Sans MS size=10 color=white>Time left  "+secs+" seconds</font>";
	if(secs < ((min/8)*100)){
		element.innerHTML = "<font class=blink face=Comic Sans MS size=10 color=#f81021>Time left  "+secs+" seconds</font>";
	}
	if(secs < 1) {
		clearTimeout(timer);
		element.innerHTML = '<h2><a href="/allQuiz">See Result Log</a></h2>';
		window.location="http://localhost:8080/allQuiz";
	}
	secs--;
	var timer = setTimeout('countDown('+secs+','+min+',"'+elem+'","'+bar+'","'+ques+'","'+option+'")',1000);
}
/////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////extend timer/////////////////////////////////////////////////
function extendTime(){
	//var quiztime=document.getElementById('txtbox').value;
	//quiztimeinsec= quiztime * 60;
	//countDown(quiztimeinsec,"status");
	//alert(quiztimeinsec);
	var ques=[[${ques}]];
	var option=[[${option}]];
	var time=prompt("Please Enter New Total Time(in minute) you want to provide","1");
	if(time!=null){
		window.location="http://localhost:8080/afterwelcome?timer="+time+"&ques="+ques+"&option="+option;
		//quiztimeinsec= time * 60;
		//countDown(quiztimeinsec,time,"status","bar",ques);
	}

}
////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/*]]>*/
</script>
<br></br><br></br>
<div id="bar"></div>

<div id="status"></div>
<br></br>
<font color="#2dfb4b" face="Comic Sans MS">Change Quiz Time</font><br></br>
<button onClick="extendTime()">   <img src="images/add.png" width="25" height="25" />  </button>

</body>
</html>