<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="Design.css"></link>
</head>

<body bgcolor="#2EFE9A" align="center">
<script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript"  th:inline="javascript">
/*<![CDATA[*/
window.onload = function () {
	
	

    var message = [[${message}]];
    //alert(message[0]);
    //alert(message[1]);


	var chart = new CanvasJS.Chart("chartContainer", {
		theme: "theme3",//theme1
		title:{
			text: "GRAPHICAL RESULT"              
		},
		animationEnabled: true,   // change to true
		 zoomEnabled: true,
	      zoomType: "xy",
	      backgroundColor: "#2EFE9A",
		data: [              
		{
			// Change type to "bar", "area", "spline", "pie",column,etc.
			type: "column",
			dataPoints: [
				{ label: "A",  y: message[0]  },
				{ label: "B", y: message[1]  },
				{ label: "C", y: message[2]  },
				{ label: "D",  y: message[3] },
				
			]
		}
		]
	});
	chart.render();
}
/*]]>*/
</script>


<div id="chartContainer" style="height: 500px; width: 100%;"></div>
 <br></br><br></br><br></br>
  <font color="white" face="Comic Sans MS">ALL LINKS</font><br></br><br></br>
				
				<a href="/index"><button class="button5">HomePage</button></a>&nbsp;&nbsp;&nbsp;
				<a href="/login"><button class="button5">Login</button></a>&nbsp;&nbsp;&nbsp;
				<a th:href="|/subject?email=${email}|"><button class="button5">Choose Subjects</button></a>&nbsp;&nbsp;&nbsp;
				<a th:href="|/welcome?sub=${sub}|"><button class="button5">Welcome</button></a>&nbsp;&nbsp;&nbsp;
				<a href="/allQuiz"><button class="button5">Past Quizes</button></a><br></br><br></br>
 

</body>
</html>