<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Insert  here</title>
<link rel="stylesheet" type="text/css" href="Design.css"></link>
</head>

<body id="animate-area" align="center" >
<header id="header">
			<div class="innertube">
				<p><h1><font color="white" face="Comic Sans MS">WELCOME TO SURPRISE QUESTION</font></h1></p>
			</div>
		</header>
				
		<main>
			<div class="innertube" >
				
				<h3><font color="yellow" face="Comic Sans MS">LETS START</font></h3>
				<div class="timer_div"></div>
<table align="center">
<tr>
<th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
<th>

<form action="/addquizdetails" onsubmit="return function">
<fieldset >
    <legend>Ready for Quiz</legend>
<font color="#400040" face="Comic Sans MS" size="4">

Enter the Question&nbsp;&nbsp;&nbsp;
<input type="text" name="ques" id="ques" value="Question you know?" />&nbsp;&nbsp;&nbsp;&nbsp;
<br></br><br></br>
Enter the Choices<br></br>
 A <input type="text" name="optionA" id="optionA" value="A" />&nbsp;&nbsp;  B <input type="text" name="optionB" id="optionB" value="B" />&nbsp;&nbsp;
<br></br>
 C <input type="text" name="optionC" id="optionC" value="C" />&nbsp;&nbsp;  D <input type="text" name="optionD" id="optionD" value="D" />&nbsp;&nbsp;
<br></br><br></br>
Set Timer Time&nbsp;&nbsp;&nbsp;
 <input type="number" name="timer" id="timer" value="1"/>&nbsp;&nbsp;&nbsp;&nbsp;
<br></br><br></br>
 
 Answer&nbsp;&nbsp;&nbsp;
 <input type="text" name="answer" value="NA" />&nbsp;&nbsp;&nbsp;&nbsp;
<br></br><br></br>
<input type="checkbox" name="annym" id="annym"/>&nbsp;<img src="/images/anym.jpg" width="50" height="50"/>&nbsp;Anonymous
 </font>
 <br></br><br></br>
 <button class="button button2">Start Quiz</button><br></br>
 </fieldset>
</form>
</th>

</tr>


</table>
				
			</div>
		</main>

		<nav id="left">
			<div class="innertube" >
				<h2><font color="white"><u>WELCOME</u></font></h2><br></br>
				<ul>
					<li class="c3" th:text="${name}"></li>
					<li><br></br></li>
					<li><font color="white">IIITDelhi</font></li>
					<li><br></br></li>
					<li><a href="/index"><button class="button3"><span>signOut</span></button></a></li>
				</ul>
				<br></br><br></br>
				<h1><font color="white"><u>Class Details</u></font></h1><br></br>
				<ul>
				<li class="c2" th:text="${sub}"></li>
				<li><br></br><br></br></li>
					<li><a href="/studentresponse"><button class="button5">All Student Response</button></a></li>
					<li><br></br><br></br></li>
					<li><a href="/performance"><button class="button3"><span>Performance</span></button></a></li>
				</ul>

			</div>
		</nav>	
		<div id="right">
			<div class="innertube" >
				<font color="white" face="Comic Sans MS">ALL LINKS</font><br></br><br></br>
				
				<a href="/index"><button class="button5">HomePage</button></a><br></br><br></br><br></br>
				<a href="/login"><button class="button5">Login</button></a><br></br><br></br><br></br>
				<a th:href="|/subject?email=${email}|"><button class="button5">Choose Subjects</button></a><br></br><br></br><br></br>
				<a href="/allQuiz"><button class="button5">Past Quizes</button></a><br></br><br></br>
				
			</div>
		</div>
		
		<footer id="footer">
			<div class="innertube">
				<p>@Copyright of IIITD..     By Ricktam, Kajal,Neha
				<img src="images/iiitd.png" width="64" height="25"/></p>
			</div>
		</footer>	


</body>


</html>