@CHARSET "ISO-8859-1";

@-webkit-keyframes spincube {
    from,to  { -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16%      { -webkit-transform: rotateY(-90deg);                           }
    33%      { -webkit-transform: rotateY(-90deg) rotateZ(90deg);            }
    50%      { -webkit-transform: rotateY(-180deg) rotateZ(90deg);           }
    66%      { -webkit-transform: rotateY(-270deg) rotateX(90deg);           }
    83%      { -webkit-transform: rotateX(90deg);                            }
  }@keyframes spincube {
    from,to {
      -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
      -moz-transform: rotateY(-90deg);
      -ms-transform: rotateY(-90deg);
      transform: rotateY(-90deg);
    }
    33% {
      -moz-transform: rotateY(-90deg) rotateZ(90deg);
      -ms-transform: rotateY(-90deg) rotateZ(90deg);
      transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
      -moz-transform: rotateY(-180deg) rotateZ(90deg);
      -ms-transform: rotateY(-180deg) rotateZ(90deg);
      transform: rotateY(-180deg) rotateZ(90deg);
    }
    66% {
      -moz-transform: rotateY(-270deg) rotateX(90deg);
      -ms-transform: rotateY(-270deg) rotateX(90deg);
      transform: rotateY(-270deg) rotateX(90deg);
    }
    83% {
      -moz-transform: rotateX(90deg);
      -ms-transform: rotateX(90deg);
      transform: rotateX(90deg);
    }
  }.cubespinner{
  -webkit-animation-name:spincube;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-duration:12s;
  animation-name:spincube;
  animation-timing-function:ease-in-out;
  animation-iteration-count:infinite;
  animation-duration:12s;
  -webkit-transform-style:preserve-3d;
  -moz-transform-style:preserve-3d;
  -ms-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform-origin:60px 60px 0;-moz-transform-origin:60px 60px 0;-ms-transform-origin:60px 60px 0;transform-origin:60px 60px 0}.cubespinner div
  {position:absolute;
  width:100px;
  height:100px;
  border:1px 
  solid #ccc;
  background:rgba(255,255,255,.8);
  box-shadow:inset 0 0 20px rgba(0,0,0,.2);
  text-align:center;
  font-size:100px}.cubespinner .face1
  {-webkit-transform:translateZ(60px);
-moz-transform:translateZ(60px);
-ms-transform:translateZ(60px);
transform:translateZ(60px)}.cubespinner .face2{-webkit-transform:rotateY(90deg) translateZ(60px);
-moz-transform:rotateY(90deg) translateZ(60px);
-ms-transform:rotateY(90deg) translateZ(60px);
transform:rotateY(90deg) translateZ(60px)}.cubespinner .face3
{-webkit-transform:rotateY(90deg) rotateX(90deg) translateZ(60px);
-moz-transform:rotateY(90deg) rotateX(90deg) translateZ(60px);
-ms-transform:rotateY(90deg) rotateX(90deg) translateZ(60px);
transform:rotateY(90deg) rotateX(90deg) translateZ(60px)}.cubespinner .face4
{-webkit-transform:rotateY(180deg) rotateZ(90deg) translateZ(60px);
-moz-transform:rotateY(180deg) rotateZ(90deg) translateZ(60px);
-ms-transform:rotateY(180deg) rotateZ(90deg) translateZ(60px);
transform:rotateY(180deg) rotateZ(90deg) translateZ(60px)}.cubespinner .face5
{-webkit-transform:rotateY(-90deg) rotateZ(90deg) translateZ(60px);
-moz-transform:rotateY(-90deg) rotateZ(90deg) translateZ(60px);
-ms-transform:rotateY(-90deg) rotateZ(90deg) translateZ(60px);
transform:rotateY(-90deg) rotateZ(90deg) translateZ(60px)}.cubespinner .face6
{-webkit-transform:rotateX(-90deg) translateZ(60px);
-moz-transform:rotateX(-90deg) translateZ(60px);
-ms-transform:rotateX(-90deg) translateZ(60px);
transform:rotateX(-90deg) translateZ(60px)}

@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

a:hover, a:focus {
    z-index: 200;
      /* bring to top when the mouse is over or
         when it has the focus (for keyboard navigation) */
}
a img {
    border: none;
    -webkit-transition: all .2s;
    -webkit-transform-origin: top;
}
a:hover img, a:focus img {
    -webkit-transform: scale(2);
  }

#animate-area	{ 
	width: 500px; 
	height: 100px; 
	background-image: url("/images/c4.jpg");
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 40s linear infinite;
	-ms-animation: animatedBackground 40s linear infinite;
	-moz-animation: animatedBackground 40s linear infinite;
	-webkit-animation: animatedBackground 40s linear infinite;
}
#animate-area1	{ 
	width: 500px; 
	height: 100px; 
	background-image: url("/images/c6.jpg");
	background-position: 0px 0px;
	background-repeat: repeat-x;

	animation: animatedBackground 40s linear infinite;
	-ms-animation: animatedBackground 40s linear infinite;
	-moz-animation: animatedBackground 40s linear infinite;
	-webkit-animation: animatedBackground 40s linear infinite;
}@CHARSET "ISO-8859-1";